/**
 * :: OM UI
 * -------------------------------------------------- */

//Box Model
.o-boxed {

}

.o-border {
	border: 1px solid #f0f0f0;
}

.o-light {

}

.o-dark {

}

//Scaffolding
.o-left {
	float: left !important;
}

.o-right {
	float: right !important;
}

.o-no-padding {
	padding: 0 !important;
}

.o-no-margin {
	margin: 0 !important;
}

//Form
.o-form {
	label {
		margin-bottom: 10px;
		font-size: inherit;
		font-weight: normal;
	}
	input {
		background-color: #f5f5f5;
		border-radius: 5px;
	}
	textarea {
		background-color: #f5f5f5;
		margin-bottom: 10px;
	}
}

//Listing
.o-list {
	li {

	}
}

.o-list-inline {
	ul {
		li {
			display: inline-block;
		}
	}
}

//Button
.btn-custom {

}

.o-heading-group {
	.o-item-heading {
		padding-bottom: 23px;

		.o-heading {
			line-height: 1;
			font-weight: 700;
		}
	}
	.o-item-sub-heading {
		margin-top: -10px;
		margin-bottom: 35px;

		p {
			margin: 0;
		}
	}
}

/**
 * :: OM Modifiers
 * -------------------------------------------------- */

.is-required {

}

.is-current {

}

.is-large {

}

.is-medium {

}

.is-small {

}

.is-full-height {
	> .o-container {
		height: 100%;
		> .o-row {
			height: 100%;
			> .o-column {
				height: 100%;
			}
		}
	}
}

.no-gutter {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/**
 * :: Wordpress Components
 * -------------------------------------------------- */

.screen-reader-text {
	display: none;
}

/**
 * :: OM Components
 * -------------------------------------------------- */

.o-thubmnail {
	figure {

	}
}

.o-summary {
	.o-item-summary {
		p {

		}
	}
}

.o-socials {
	.o-item-socials {
		ul {
			li {
				a {

				}
			}
		}
	}
}

.o-meta {
	.o-item-meta {
		ul {
			margin: 0;

			li {
				list-style: none;

				a {
					
				}
				p {
					margin: 0;
				}
				span {
					
				}

				.o-heading {
					a {

					}
				}
			}
		}
	}
}

/**
 * :: OM Page Layout
 * -------------------------------------------------- */

.o-wrapper {

}

.site {
	width: 100%;
	height: 100%;
}

//Site Header
.site-header {

}

//Site Content
.site-content {

}

//Site Footer
.site-footer {

}

/**
 * :: Default Wordpress Shortcode
 * -------------------------------------------------- */

//Audio Shortcode

//Caption Shortcode

//Embed Shortcode

//Gallery Shortcode
.gallery {
	margin: 50px 0 50px 0;
	.clearfix();

	figure.gallery-item {
		float: left;
		text-align: center;
		vertical-align: top;

		img {
			margin-bottom: 0;
		}

		.gallery-icon {
			a {
				img {

				}
			}
			figcaption.gallery-caption {

			}
		}
	}

	&.gallery-columns-1 {
		.gallery-item {
			width: 100%;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&.gallery-columns-2 {
		.gallery-item {
			width: ~"calc(50% - 15px)";
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&.gallery-columns-3 {
		.gallery-item {
			width: ~"calc(33.33% - 6.6666666px)";
			margin-right: 10px;

			img {
				margin-bottom: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			@media @max-xs-desktop {
				width: 100%;
				margin: 0;
			}
		}
		&.close-columns {
			.gallery-item {
				width: ~"calc(33.33% - 1.5555555px)";
				margin-right: 2px;
				margin-bottom: 2px;

				&:last-child,
				&:nth-child(3n) {
					margin-right: 0;
				}

				@media @max-xs-desktop {
					width: 100%;
					margin: 0 0 2px 0;
				}
			}
		}
	}

	&.gallery-columns-4 {
		.gallery-item {
			width: ~"calc(25.111111% - 9px)";
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&.gallery-columns-5 {
		.gallery-item {
			width: ~"calc(20.1111% - 5.4444444px)";
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&.gallery-columns-6 {
		.gallery-item {
			width: ~"calc(16.66666% - 4.3333333px)";
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&.gallery-columns-7 {
		.gallery-item {
			width: ~"calc(14.28% - 4.3333333px)";
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&.gallery-columns-8 {
		.gallery-item {
			width: ~"calc(12.44% - 3.8888888px)";
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&.gallery-columns-9 {
		.gallery-item {
			width: ~"calc(11.11% - 4.5px)";
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

//Playlist Shortcode

//Video Shortcode

/**
 * :: Header Components
 * -------------------------------------------------- */

//Hamburger Button
.o-open {
	display: none;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 15px;
	.clearfix();

	.btn-open {
		background-color: @gray-lightest;
		i {
			color: @gray-darkest;
		}
		&:hover, &:focus, &:active {
			background-color: #3c579e;
			outline: none;
			i {
				color: @gray-lightest;
			}
		}
	}
}

//Branding
.o-branding {

}

//Message
.o-message {
	p {
		margin: 0;
	}
}

//Top Social
.o-socials {
	ul.icon-social {
		margin: 0;
		padding: 0;
		.clearfix();

		li {
			padding-right: 0;
			padding-left: @padding-large-vertical * 1.5;
			a {
				i {

				}
			}
		}
	}
}

//Top Bar
.o-top-bar {
	background-color: @brand-primary;
	font-size: @font-size-small;
	.clearfix();

	.o-top-bar__inner {
		padding: 8px;

	}
}

/**
 * :: Content Components
 * -------------------------------------------------- */

//Page Header
.o-page-header {
	height: 300px;
	position: relative;

	.o-page-header__inner {
		height: 100%;
		background-color: #111;
		text-align: center;

		.o-block {
			position: absolute;
			top: 50%;
			z-index: 1;
			left: 15px;
			right: 15px;
			text-align: center;
			.translateY(-50%);

			//Page Title
			.o-title {
				.o-item-title {
					.o-heading {
						margin: 0;
						font-size: @font-size-h2;
						color: @gray-lightest;
					}
				}
			}

			//Page Sub Title
			.o-sub-title {
				.o-item-sub-title {
					.o-heading {

					}
				}
			}

			//Page Breadcumb
			.o-breadcrumb {
				ul {
					li {
						display: inline-block;
						a {
							font-weight: 300;
							color: fade(@gray-lightest, 75%);

							&:hover, &:focus, &:active {
								color: @gray-lightest;
							}
						}
						&:not(:first-child) {
							margin-left: 20px;
						}
					}
				}
			}
		}
	}
}

//Page Content
.o-page-content {
	background-color: transparent;

	.o-heading-group {
		.clearfix();

		.o-item-heading,
		.o-item-sub-heading {
			text-align: center;
		}

		.o-item-heading {
			margin-bottom: 5px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.o-item-sub-heading {
			padding: 0 (@padding-large-vertical * 10);
			font-style: italic;

			@media @max-sm-desktop {
				padding: 0 (@padding-large-vertical * 5);
			}
		}
	}

	//Default OM Post Share
	.o-post-share {
	}

	//Default OM Post Author
	.o-post-author {

		.o-heading-group {
			margin-bottom: 20px;

			.o-item-heading {
				text-align: left;
			}
		}

		.o-block-group {

			.o-block {
				&.o-block-left {
					float: left;

					//Avatar
					.o-avatar {
						float: left;
						width: 80px;
						height: 80px;
						border-radius: 50%;
						overflow: hidden;
						margin: 0 (@padding-large-vertical * 2) @padding-large-vertical 0;

						.o-item-avatar {
							width: 100%;
							height: 100%;

							img {

							}
						}
					}
				}

				&.o-block-right {
					float: left;
					max-width: ~"calc(100% - 110px)";

					//Information
					.o-information {

						//Name
						.o-name {
							.o-heading {

							}
						}

						.o-socials {
							ul {
								margin: 0;
								li {
									a {
										width: 25px;
										height: 25px;
										background-color: #ccc;
										display: inline-block;
										text-align: center;
										border-radius: 50%;
										.transition(background-color 200ms);

										i {
											color: @gray-lightest;
										}

										&:hover, &:focus, &:active {
											background-color: #3c579e;
										}
									}
								}
							}
						}

						//Summary
						.o-summary {
							.o-item-summary {
								p {
									color: #666;
								}
							}
						}
					}
				}
			}
		}
	}

	//Default OM Post Related
	.o-post-related {
		.clearfix();

		.o-heading-group {
			margin-bottom: @padding-large-vertical * 2;

			.o-item-heading {
				text-align: left;
			}
		}

		.o-block-group {
			.o-block {

				.o-thumbnail {
					img {

					}
				}

				.o-title {
					margin-top: 15px;

					.o-item-title {
						.o-heading {
							font-weight: 300;
						}
					}
				}

				.o-meta {
					.o-item-meta {
						ul {
							margin: 0;
							padding: 0;

							li {
								position: relative;
								padding-right: 18px;
								display: inline-block;
								padding-left: 9px;

								a {
									color: @gray-light;

									&:hover, &:focus, a:active {
										color: #3c579e;
										text-decoration: none;
										.transition(all 200ms ease-in-out);
									}
								}

								&:before {
									content: "\f04d ";
									font-family: @font-icon-primary;
									position: absolute;
									font-size: 3px;
									top: 10px;
									left: 0;
									color: #aaa;
									.rotate(45deg);
								}
							}
						}
					}
				}
			}
		}
	}

	//OM Post Navigation
	.o-post-navigation {

	}

	//Default Wordpress Comment Styles
	#comments.comments-area {

		.comments-title,
		.comment-reply-title {
			text-transform: uppercase;
			margin-bottom: @padding-large-vertical * 4;
		}

		.comments-title {
			text-transform: uppercase;
			span {
				text-transform: capitalize;
			}
		}

		//Comment Listing
		ol.comment-list {
			list-style: none;
			margin: 0 0 (@padding-large-horizontal * 4) 0;
			border-bottom: 1px solid #f5f5f5;

			li.comment {
				background: none;
				position: relative;

				//Comment Body
				article.comment-body {
					padding-bottom: @padding-large-vertical * 3;
					.clearfix();

					.o-block {
						&.o-block-left {
							float: left;

							footer.comment-meta {
								.comment-avatar {
									margin-right: @padding-large-vertical;

									img {
										border-radius: 50%;
										margin-right: @padding-large-vertical;
									}
								}
								.comment-metadata {
									a {
										time {

										}
									}
								}
							}
						}
						&.o-block-right {
							float: left;
							max-width: ~"calc(100% - 80px)";

							div.comment-content {
								word-wrap: break-word;
								p {
									margin-bottom: 0
								}
							}
						}
					}

					div.reply {
						position: absolute;
						top: 0;
						right: 0;

						a.comment-reply-link {
							background: none;
							border: none;
							font-size: 12px;
							font-weight: 800;
							text-transform: uppercase;
							-webkit-transition: all 200ms ease-in-out;
							-moz-transition: all 200ms ease-in-out;
							-o-transition: all 200ms ease-in-out;
							transition: all 200ms ease-in-out;
							color: #ca383a;
							padding: 0;
						}
					}
				}

				//Reply Comment
				ol.children {
					list-style: none;
					padding-left: @padding-large-vertical * 4;
				}
			}
		}

		//Comment Submit Respond
		#respond.comment-respond {
			margin-bottom: @padding-large-vertical * 3;

			.comment-form {
				.make-row();

				label {
					margin-bottom: @padding-large-vertical
				}

				span {
					&.required {
						position: absolute;
						top: 7px;
						font-size: 36px;
						right: 25px;
						line-height: 1;
					}
				}

				.logged-in-as,
				.comment-notes {
					.make-md-column(12);

					span {
						&.required {
							margin-left: 5px;
							position: absolute;
							top: unset;
							right: unset;
						}
					}
				}

				.comment-form-comment {
					margin-bottom: @padding-large-vertical * 3;
					.make-md-column(12);
				}

				.comment-form-author,
				.comment-form-email,
				.comment-form-url {
					display: inline-block;
					.make-md-column(4);
					.make-xs-column(12);

					label {
						display: block
					}
				}
				.comment-form-url {
					input {

					}
				}
				.form-submit {
					.make-md-column(12);

					input[type="submit"] {
						.btn-custom();
					}
				}
			}
		}
	}

	//Index
	&.o-index {
		.o-entry-main {

		}
	}

	//Archive
	&.o-archive {
		.o-entry-main {

		}
	}

	//Single Post
	&.o-single-post {
		.o-entry-main {

		}
	}

	//Single Page
	&.o-single-page {
		.o-entry-main {

		}
	}

	//Search Page
	&.o-search {
		.o-entry-main {

		}
	}

	//Dark Variant
	&.ui-dark {
		background: #151515;
	}
}

//Entry Main in o-page-content
.o-entry-main {

	//Default Styles of Article
	article {

		//Custom o-video-embed
		.o-video-embed {
			margin-bottom: 40px;
		}

		//Custom o-link-embed
		.o-link-embed {
			margin-bottom: 17px;
		}

		//Entry Header
		.entry-header {

			//Title
			.entry-title {
				.o-item-title {
					.o-heading {

					}
				}
			}

			//Metas
			.entry-meta {
				padding: @padding-large-vertical @padding-large-horizontal;

				ul {
					margin: 0;

					li {
						position: relative;
						padding-right: 18px;
						display: inline-block;
						padding-left: 9px;

						a {
							color: @gray-light;
							.transition(color 200ms);

							&:hover, &:focus, a:active {
								color: #3c579e;
								text-decoration: none;
							}
						}
						&:before {
							content: "\f111";
							position: absolute;
							top: 11px;
							left: 0;
							font-family: @font-icon-primary;
							font-size: 4px;
							color: #777;
						}
					}
				}

				//Date
				li.entry-date {
					.posted-on {
						time.published {

						}
					}
				}

				//Author
				li.entry-author {
					a {

					}
				}

				//Category
				li.entry-category {
					a {
						display: inline-block;
						padding: 0 5px 0 0
					}
				}

				//Comments
				li.entry-comments {
					span.comments-link {
						a {
							padding-left: @padding-small-horizontal;
						}
						&:before {
							.icon-font(@font-icon-primary, "\f086");
						}
					}
				}

			}
		}

		//Featured Image
		.entry-featured-image {
			overflow: hidden;
			background-color: transparent;
			margin-bottom: @padding-large-vertical * 3;
			text-align: center;
		}

		//Default Wordpress WISIWYG Editor Styles/ Entry Content
		.entry-content {
			a {

			}

			p {

			}

			h1, h2, h3, h4, h5, h6 {

			}

			ul {
				li {

				}
			}

			ol {
				li {

				}
			}

			img {
				&.alignleft {

				}
				&.alignright {

				}
				&.aligncenter {

				}
				&.alignnone {

				}
				&.wp-smiley {
					border: none;
					margin-bottom: 0;
					margin-top: 0;
					padding: 0;
				}
			}

			blockquote {
				&.left {

				}
				&.right {

				}
			}

			table {
				width: 100%;
				margin-bottom: @padding-large-vertical * 2;

				> thead, tbody, tfoot {
					> tr {
						> td, > th {
							padding: @padding-large-vertical @padding-base-horizontal;
							border: 1px solid @gray-lighter;
							border-right: none;
							font-size: @font-size-base;
							text-align: left;
							&:last-child {
								border-right: 1px solid @gray-lighter;
							}
						}
					}
				}

				thead {
					tr {
						th {
							background-color: @brand-primary;
							border: 1px solid @brand-primary;
							border-left: 1px solid rgba(255, 255, 255, 0.1);
							color: @gray-lightest;

							&:last-child {
								border-right: 1px solid @brand-primary;
							}
						}
					}
				}

				tfoot {
					tr {
						td {
							padding: @padding-large-vertical 0;
						}
					}
				}

				tbody {
					tr {
						th {
							border-top: none;
						}

						td {
							border-top: none;
						}

						&:first-child {
							td {
								border-top: 1px solid #eee;
								color: @gray-darkest;
							}
						}

						&:last-child {
							th {
								border-bottom: 1px solid #eee;
							}
						}
					}
				}

				caption {

				}

				h1, h2, h3, h4, h5, h6 {
					margin: 0;
				}
			}

			.alignleft {
				display: inline;
				float: left;
				margin-right: 1.5em;
			}
			.alignright {
				display: inline;
				float: right;
				margin-left: 1.5em;
			}
			.aligncenter {
				clear: both;
				display: block;
				margin: 0 auto;
			}
			.alignnone {

			}
			.wp-caption {
				margin-bottom: @padding-large-vertical * 2;
				max-width: 100%;
				img[class*="wp-image-"] {
					display: block;
					margin: 0 auto;
				}
				.wp-caption-text {
					text-align: center;
					margin: @padding-large-vertical 0;
				}
			}

			.entry-excerpt {
				padding: @padding-large-vertical 0;
			}
		}

		//Entry Footer
		.entry-footer {
			.clearfix();

			.entry-readmore {
				a.o-item-readmore {

				}
			}

			span.cat-links {

			}

			span.tags-links {

			}

			span.edit-link {

			}
		}
	}
}

//Page Footer
.o-page-footer {

}

/**
 * :: Footer Components
 * -------------------------------------------------- */

/**
 * :: OM UI Embed
 * -------------------------------------------------- */

/* Link */
.o-link-embed {
	background-color: #3c579e;
	padding: 30px 35px;

	a, i {
		display: inline-block;
		vertical-align: middle;
		color: @gray-lightest;
	}

	a {
		margin-left: 30px;
		font-weight: 300;
	}

	i {
		font-size: @font-size-h2;
	}

	.o-heading {
		margin-bottom: 0;
	}
}

/* Video */
.o-video-embed {
	height: 0;
	padding-bottom: 56.25%;
	padding-top: 25px;
	position: relative;

	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

/* Quote */
.o-quote-embed {
	blockquote {
		background: transparent;
		padding: 23px 30px;
		border-left-color: #3c579e;
		font-size: @font-size-h4;
		color: #3c579e;
	}
}

/* Map */
.o-map-embed {
	iframe {
		width: 100%;
	}
}

/**
 * :: OM Navigation
 * -------------------------------------------------- */

//Top Menu
.o-top-menu {
	ul {
		li {
			padding-left: @padding-large-vertical * 2;
			a {
				color: @gray-lightest;
				.transition(color 200ms ease-in-out);

				&:hover, &:focus, &:active {
					color: @brand-secondary;
				}
			}

			&:first-child {
				padding-left: 0;
			}
		}
	}
}

//Top Links
.o-top-links {
	background-color: @brand-primary;
	padding: 10px 0;

	.o-top-links__inner {
		ul {
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				list-style: none;
			}
		}
	}
}

//Mobile Navigation
.o-mobile-navigation {

}

//Custom Mobile Navigation when Admin Bar appeared
.admin-bar {
	.o-mobile-navigation {
		padding-top: 46px
	}
}

//Main Navigation
.o-main-navigation {

	.o-main-navigation__inner {
		background-color: @brand-secondary;
		min-height: 50px;
		.clearfix();

		//Default Wordpress Main Menu Styles
		.o-main-menu {
			@media @max-sm-desktop {
				display: none;
			}
			.main-menu {
				margin: 0;
				padding: 0;
				background: none;
				border: none;

				a {
					padding: 10px 15px;
					display: block;
					font-size: @font-size-base;
					font-weight: normal;
					text-decoration: none;
				}

				//First Menu
				ul {
					margin: 0;
					padding-left: 0;
					list-style: none;
					border: none;
					position: relative;
					border-radius: 0;
					.clearfix();

					li {

						a {
							color: @gray-darkest;
							.transition(color 200ms ease-in-out);

							&:hover, &:focus, &:active {
								color: @brand-secondary;
							}
						}

						ul {
							min-width: 200px;
							margin-top: 10px;
							padding: 0;
							position: absolute;
							z-index: 999999;
							visibility: hidden;
							opacity: 0;
							.transition(opacity 300ms ease-in-out);

							&::before {
								content: "";
								width: 100%;
								height: 10px;
								background-color: transparent;
								position: absolute;
								top: -10px;
							}
						}

						&:hover {
							a {
								color: @brand-secondary;
								display: block;
							}

							> ul {
								opacity: 1;
								visibility: visible;

								li {
									width: 100%;
									padding: 0;
									background-color: @gray-darkest;
									position: relative;

									a {
										padding: (@padding-large-vertical * 1.1) 22px;
										font-size: @font-size-base;
										color: @brand-secondary;
									}

									&:hover {
										background-color: @gray-darkest;

										a {
											background-color: rgba(255, 255, 255, 0.1);
											color: @gray-lightest;
											.transition(all 200ms ease-in-out);
										}

										ul {
											margin: 0 0 0 10px;
											position: absolute;
											top: 0;
											left: 100%;

											li {
												width: 100%;
												background-color: @gray-darkest;
												position: relative;
												.transition(background-color 200ms ease-in-out);

												a {
													background-color: @gray-darkest;
													color: @brand-secondary;
												}
												&:hover {
													a {
														background-color: @brand-secondary;
														color: @gray-darkest;
														.transition(all 200ms ease-in-out);
													}
												}
											}

											&::before {
												content: "";
												display: block;
												width: 10px;
												height: 100%;
												background-color: transparent;
												position: absolute;
												top: 0;
												left: -10px;
											}
										}
									}

								}
							}

							&.dropdown-mega {
								.sub-menu {
									visibility: visible;
									opacity: 1;
								}
							}
						}

						&:last-child {
							ul {
								right: 0;
							}
						}
					}
				}

				/* Toggled Menu */
				.menu-toggle {
					display: none;
				}

				@media @max-sm-desktop {
					.menu-toggle,
					.main-menu {
						&.toggled {
							ul.navbar-nav {
								display: block;
							}
						}
					}
				}
			}

			&.no-search {
				.main-menu {
					margin-right: 0;
				}
			}
		}
	}

	&.ui-dark {

		.o-main-navigation__inner {
			.o-main-menu {
				.main-menu {
					ul {
						li {
							> a {
								color: @gray-lightest;
							}

							&:hover {
								ul {
									li {
										> a {

										}
									}
								}

								> a {
									background-color: @brand-secondary;
									color: @brand-primary;
								}
							}
						}
					}
				}
			}
		}
	}

	&.sticky {
		background-color: @brand-secondary;
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 9999;
		border-top: 0;
		// .transition(background-color 200ms ease-in-out);

		.o-main-navigation__inner {

			.main-menu {
				ul {
					li {
						> a {
							color: @gray-darkest;
						}
						&:hover {
							> a {
								color: @brand-secondary;
							}
						}
					}
				}
			}

			.o-search-btn {
				a {

				}
			}
		}

		&.pinned {

		}
		&.un-pinned {

		}
	}
}

//Footer Menu
.o-footer-menu {
	min-height: 0;
	background: none;
	margin: 0;
	border: none;

	.o-footer-menu__inner {
		padding: 20px;
		background: @brand-primary;

		nav.navbar {
			min-height: 0;
			margin: 0;
			padding: 0;
			background: none;
			border: none;

			ul.navbar-nav {
				background: none;
				border: none;
				li {
					a {
						margin: 0;
						padding: 0 (@padding-large-vertical * 2);
					}
					&:last-child {
						a {
							padding-right: 0;
							@media @max-xs-desktop {
								padding-right: 20px;
							}
						}
					}
				}

				@media @max-xs-desktop {
					width: 100%;
					margin: 0;
					text-align: center;
					li {
						display: inline-block;
					}
				}
			}
		}
	}
}

/**
 * :: Sidebar
 * -------------------------------------------------- */

//Sidebar
.o-sidebar {

	//Main Sidebar
	.main-sidebar {
		.clearfix();
	}

	//Footer Sidebar
	.footer-sidebar {
		.clearfix();
	}
}

/**
 * :: Widgets
 * -------------------------------------------------- */

//Default Wordpress Widgets Styles
.widget {

	//Common Styles
	label {
		width: 100%;
	}

	ul {
		list-style: none;
		margin: 0;

		li {
			overflow: hidden;
			border-bottom: 1px solid @gray-lighter;
			padding-bottom: @padding-large-vertical;
			margin-bottom: @padding-large-vertical;

			a {
				position: relative;

				&:before {
					.icon-font(@font-icon-primary, "\f0da");
					padding-right: @padding-large-vertical;
					line-height: @line-height-base;
				}
			}

			&.menu-item-has-children {
				> a {
					padding-left: 2px;

					&:before {
						margin-right: @padding-large-vertical;
						display: inline-block;
						padding: 0;
						.rotate(90deg);
					}
				}
			}

			&:first-child {
				padding-top: 0 !important;
			}

			&:last-child {
				margin-bottom: 0 !important;
				border-bottom: none !important;
			}
		}
	}

	select {
		width: 100%;
		option {

		}
	}

	//Default Wordpress Widget Title
	.widget-title {
		.o-heading {
			font-size: @font-size-h5;
			text-transform: uppercase;
		}
	}

	&.widget_archive {

	}

	//Default Wordpress Calendar
	&.widget_calendar {
		table {
			caption {
				margin-bottom: @padding-large-vertical;
			}
			tbody {
				tr {
					td {
						&#today {
							color: @brand-warning;
						}
						&.pad {
							background-color: @gray-lighter;
						}
					}
				}
			}
			tfoot {
				tr {
					td {

					}
				}
				td#prev {
					float: left;
				}
				td#next {
					float: right;
				}
			}
		}
	}

	//Default Wordpress Categories
	&.widget_categories {
		ul {
			li {
				&.cat-item {
					a {

					}
				}
			}
		}
	}

	//Default Wordpress Custom Menu
	&.widget_nav_menu {
		ul {
			li {
				ul.sub-menu {
					margin: @padding-large-horizontal 0 0 @padding-large-horizontal;
					li {
						padding-bottom: @padding-large-vertical;
					}
				}
			}
		}
	}

	//Default Wordpress Meta
	&.widget_meta {

	}

	//Default Wordpress Pages
	&.widget_pages {
		ul {
			li.page_item {
				a {

				}
			}
		}
	}

	//Default Wordpress Recent Comments
	&.widget_recent_comments {
		ul {
			li {
				.comment-author-link {

				}
				a {
					&:before {
						display: none;
					}
				}
				span {

				}
			}
		}
	}

	//Default Wordpress Recent Posts
	&.widget_recent_entries {
		ul {
			li {
				a {
					&:before {
						display: none;
					}
				}
				span {
					display: block;
				}
			}
		}
	}

	//Default Wordpress RSS
	&.widget_rss {
		ul {
			li {
				a.rsswidget {
					padding: 0;
					font-weight: bold;
					&:before {
						display: none;
					}
				}
				span.rss-date {
					display: block;
					padding: @padding-large-vertical 0;
				}
				.rssSummary {
					font-size: @font-size-base;
					line-height: @line-height-base;
				}
				cite {

				}
			}
		}
	}

	//Default Wordpress Search
	&.widget_search {
		.search-submit {
			display: none;
		}
		input[type="search"] {
			width: 100%;
		}
	}

	//Default Wordpress Text
	&.widget_text {

	}
}

//Custom OM Widgets Styles
.widget {
	//All Custom OM Widgets could be found in widgets.less
}
