/**
 * Header
 * -------------------------------------------------- */

//Site Header
.site-header {

	//Common Styles
	.o-main-navigation {
		.o-main-navigation__inner {
			.o-branding__sticky {
				display: none;
			}
			.o-search-btn__sticky {
				display: none;
			}
		}
	}

	//Style 01
	&.style-1 {

		@media @max-sm-desktop {
			background-color: @gray-darkest;
		}

		//Custom on Header 5
		.o-top-bar {
			.o-top-bar__inner {

				//Message
				.o-message {
					p {
						color: @gray-lightest;
						opacity: 0.5;
					}
				}

				//Socials
				.o-socials {
					ul {
						li {
							a {
								i {
									color: @brand-secondary;
									.transition(color 200ms ease-in-out);
								}
								&:hover, &:focus, a:active {
									i {
										color: @gray-lightest;
									}
								}
							}
						}
					}
				}
			}
		}

		.o-main-navigation {
			//Please check navigation.less
		}
	}
}

